<mat-card>
  <mat-card-title>Nowy cel</mat-card-title>
  <mat-card-content>
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <mat-form-field>
            <input matInput [(ngModel)]="objective.name" placeholder="Nazwa" name="name" class="form-control" id="name">
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-select [(value)]="objective.category.name" (selectionChange)="categoryChange()">
            <ng-container *ngFor="let category of categories">
              <mat-option value="{{category.name}}"> {{ category.name }} </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <br>

        <div class="form-group">
          <mat-form-field>
            <input matInput [(ngModel)]="objective.description" placeholder="Opis" name="description" class="form-control" id="description">
          </mat-form-field>
        </div>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Data" [value]="objective.eventDate" (dateChange)="updateDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <br><br><br>
        <label class="image-upload-container btn btn-bwm">
          <span>Select Image</span>
          <input
                 type="file"
                 (change)="processFile(objective, $event)">
        </label>

        <!--HR23 TODO: implement tree with checkboxes: https://material.angular.io/components/tree/examples-->

        <section class="todoapp">
          <header class="header">
            <mat-card-title>TODO</mat-card-title>
            <input class="new-todo" placeholder="Co trzeba zrobić?" autofocus="" [(ngModel)]="editedTodo.name" name="new-todo">
            <button mat-raised-button (click)="addTodo()">Dodaj</button>
          </header>
          <section class="main" *ngIf="objective.todos?.length > 0">
            <ul class="todo-list">
              <li *ngFor="let todo of objective.todos" [class.completed]="todo.complete">
                <div class="view">
                  <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.isDone">
                  <label>{{todo.name}}</label>
                  <button class="destroy" (click)="removeTodo(todo)"></button>
                </div>
              </li>
            </ul>
          </section>
          <footer class="footer" *ngIf="objective.todos?.length > 0">
            <span class="todo-count"><strong>{{objective.todos.length}}</strong> Pozostało do zrobienia: {{objective.todos.length}} </span>
          </footer>
        </section>
        <button mat-raised-button (click)="createObjective()">{{idStr != null ? "Zapisz" : "Dodaj"}}</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
