.objective-card {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
}

.example-header-image {
  background-image: url('https://cdn.pixabay.com/photo/2017/03/28/01/46/check-mark-2180770_960_720.png');
  background-size: cover;
}

.image-done {
  background-image: url('../../assets/png/done.png');
  background-size: cover;
}

.image-notyet {
  background-image: url('../../assets/png/notyet.png');
  background-size: cover;
}

img {
  max-width: 90%;
}


.division{
  width:50%;
  float:left;
}

mat-card-header {
  margin-bottom: 8px;
}

.mat-icon-button{
  float: right;
}

#progress {
  bottom: 0;
}


