<mat-card>
  <mat-card-title>Cele</mat-card-title>
  <mat-card-content>
    <ng-container *ngFor="let objective of objectives">
    <mat-card class="objective-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ objective.name }}</mat-card-title>
        <mat-card-subtitle> {{ objective.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/iceland.JPG" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{ objective.description }}
        </p>
      </mat-card-content>
    </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>
