<mat-card>
  <mat-card-title>Cele</mat-card-title>
  <mat-card-content>

    <mat-form-field>
      <mat-select [(value)]="selected" (selectionChange)="categoryChange()">
        <mat-option value="all"> Wszystkie </mat-option>
        <ng-container *ngFor="let category of categories">
          <mat-option value="{{category.name}}"> {{ category.name }} </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button style="float: right" routerLink="/objective-add-update">
      <mat-icon aria-label="Dodaj">add</mat-icon>
    </button>

    <ng-container *ngFor="let objective of objectives">
    <mat-card class="objective-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ objective.name }}</mat-card-title>
        <mat-card-subtitle> {{ objective.category.name}}</mat-card-subtitle>
        <div style='clear:both'></div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editObjective(objective.id)">
            <mat-icon>edit</mat-icon>
            <span>Edycja</span>
          </button>
          <button mat-menu-item (click)="markObjectiveAsDone(objective.id)">
            <mat-icon>done</mat-icon>
            <span>Zrobione!</span>
          </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content>
        <div id="firstDivistion" class="division">
        <img mat-card-image src="http://localhost:8080/objectives/{{objective.id}}/image" alt="Cel">

        </div>
        <b>Data:</b> {{ objective.eventDate }}
        <br/><br/><br/>
        <div id="second" class="division">
          <b *ngIf="objective.todos.length > 0">Do zrobienia:</b><br><br>
          <ng-container *ngFor="let todo of objective.todos">
            <mat-checkbox [disabled]="true" [checked]="todo.isDone">{{ todo.name }}</mat-checkbox><br>
          </ng-container>

          <br>
          <div id="progress">
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
          </div>
        </div>


        <div style='clear:both'></div>

        <p>
          {{ objective.description }}
        </p>



      </mat-card-content>
    </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>
