.objective-card {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img {
  max-width: 90%;
}


.division{
  width:50%;
  float:left;
}

mat-card-header {
  margin-bottom: 8px;
}

.mat-icon-button{
  float: right;
}

#progress {
  bottom: 0;
}


