<div class="menu">
  <div class="item">
    <a routerLink="/stats">
      <img src="assets/png/menu/stats.svg" height="250" width="250"/>
      <span class="caption">Statystyki</span>
    </a>
  </div>
  <div class="item">
    <a routerLink="/dream-list">
      <img src="assets/png/menu/target.svg" height="250" width="250"/>
      <span class="caption">Cele</span>
    </a>
  </div>
  <div class="item">
    <a routerLink="/categories">
      <img src="assets/png/menu/category.svg" height="250" width="250"/>
      <span class="caption">Kategorie</span>
    </a>
  </div>
  <div class="item">
    <a routerLink="/settings">
      <img src="assets/png/menu/settings.svg" height="250" width="250"/>
      <span class="caption">Ustawienia</span>
    </a>
  </div>

</div>
