<mat-card>
  <mat-card-title>Daty</mat-card-title>
  <mat-card-content>
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Data </th>
          <th>Opis</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let celebration of celebrations">
          <td> {{ celebration.date }}</td>
          <td> {{ celebration.description}}</td>
          <td>
          <button mat-icon-button>
            <mat-icon aria-label="Dodaj">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCelebration(celebration)">
            <mat-icon aria-label="Usuń">delete</mat-icon>
          </button>
          </td>
          <mat-divider></mat-divider>
        </tr>
        </tbody>
      </table>
    </div>
    <button mat-icon-button routerLink="/celebrations/add">
      <mat-icon aria-label="Usuń">add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
